@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

header {
    background-color: black;
    color: white;
    font-size: 68px;
    text-align: center;
    padding: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

article {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-size: 3.5vw;
}

h1 {
    font-family: "Passion One", sans-serif;
    font-size: 136px;
}

.fontnormal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.fontpoema {
    font-family: "Sour Gummy", sans-serif;
    font-size: 47px;
    padding: 50px;
    line-height: 2em;
    padding: 30px;    
}


.white {
    background-color: white;
}

#bg1 {
    background-image: url(imagens/background001.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
}

#bg2 {
    background-image: url(imagens/background002.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#foto1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.459);
    min-width: 300px;
    max-width: 600px;
    padding: 0;
}

#foto2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.459);
    min-width: 300px;
    max-width: 600px;
    padding: 0;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}